* {
    box-sizing: border-box;
}

html,
body {
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(20, 20, 20);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    padding: 12px 100px;
    align-items: center;
    justify-content: flex-end;
    gap: 50px;
    background-color: rgba(76, 76, 76, 0.176);
    backdrop-filter: blur(10px);
}

.navbar img {
    width: 20px;
    height: 25px;
}

.navbar-img {
    margin-right: auto;
}

.navbar a {
    justify-content: flex-end;
    text-decoration: none;
    color: white;
    font-size: 14px;
}



.hero-section {
    display: flex;
    align-items: center;
    height: 100vh;
    background-image: url(/images/Hero-pic.png);
    background-size: cover;
    background-position: center;
}

.hero-buttons {
    display: flex;
    align-items: center;
    gap: 40px;
    margin: 0 auto;
    margin-top: auto;
    margin-bottom: 100px;

}

.hero-buttons a {
    background-color: rgb(20, 129, 193);
    padding: 10px 10px;
    min-width: 100px;
    text-align: center;
    border-radius: 20px;
    text-decoration: none;
    color: white;
    border: 2px solid rgb(20, 129, 193);
    font-weight: 600;
}

.hero-buttons a:hover {
    background-color: rgb(24, 120, 176);
}

#buy-btn {
    border: 2px solid white;
    background-color: transparent;
}



.article-section {
    height: 100vh;
    padding-bottom: 900px;
}

.article-section h1 {
    padding: 100px 100px 30px 100px;
    font-size: 50px;
    color: rgb(226, 226, 226);
}

.article {
    z-index: -1;
    position: relative;
    max-width: 1000px;
    max-height: 600px;
    background-color: red;
    margin: 0 auto;
    Border-radius: 40px;
    overflow: hidden;
}

.article h2 {
    position: absolute;
    margin-left: 100px;
    margin-top: 60px;
    color: rgb(22, 22, 22);
    font-size: 30px;
}

.article img {
    width: 100%;
    height: 600px;
    object-fit: cover;
    border-radius: 40px;
}



.iphone-section {
    height: 120vh;
    background-image: url(/images/iphone-background.png);
    background-size: cover;
    background-position: center;

}

.camera-details {
    padding: 100px 0 0 250px;
}

.camera-details h2 {
    font-size: 25px;
    color: rgb(213, 213, 213);
    padding: 10px 0;
    margin: 0;
}

.camera-details h3 {
    font-size: 40px;
    color: rgb(255, 132, 0);
    margin: 0;
}

.about-iphone h1 {
    text-align: center;
    font-size: 25px;
    color: rgb(255, 132, 0);
    padding-top: 130px;

}

.about-iphone h2 {
    text-align: center;
    font-size: 50px;

}



.product-section h1 {
    padding: 80px 100px;
    color: rgb(226, 226, 226);
}

.article-div {
    height: 80vh;
    display: flex;
    padding: 0 100px;
    gap: 50px;
}

.product {
    width: 280px;
    height: 430px;
    border-radius: 20px;
    background-color: rgb(31, 31, 31);
}

.product img {
    width: 100%;
    height: 350px;
    border-radius: 20px;
    object-fit: cover;
}

.product h2 {
    margin: 0;
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 10px;
    font-size: 16px;
    color: rgb(192, 192, 192);
}

.product p {
    padding-left: 20px;
    margin: 0;
    font-weight: 600;
    font-size: 20px;
    padding-bottom: 10px;
}



.macbook-section {
    height: 100vh;
    background-image: url(/images/macm5.png);
    background-size: cover;
    background-position: center;
}

.macbook-text {
    width: 600px;
    padding-left: 100px;
    padding-top: 250px;
}

.macbook-text h2 {
    font-size: 50px;
}

.macbook-text p {
    font-size: 18px;
}

.footer {
    padding: 30px 100px;
    color: rgb(160, 160, 160);
}